<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite" xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui" xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">

<cc:interface componentType="IvyComponent"></cc:interface>

<cc:implementation>
<h:form>
	<p:remoteCommand name="getData" actionListener="#{data.bean.getManagedBeanInfo}" oncomplete="parseData(xhr, status, args)" />
</h:form>


<script>
	var order;
	var data;
	function parseData(xhr, status, args) {
	 	data = JSON.parse(args.data);
	 	order = data.bean.order;
	}
	
	function showOrder(){
		getData();
		console.log(order);
	}
</script>
</cc:implementation>
</html>