<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
	<ui:composition template="/layouts/basic.xhtml">
		<ui:define name="title">Home</ui:define>
		<ui:define name="content">
			<h2 class="text-center">Welcome to Ivy toys</h2>
			
			<h:form id="form">
				<p:outputLabel id="languageLabel" style="font-size:18px;margin-bottom:5px" value="#{ivy.cms.co('/label/switchLanguage')}"/>
				<p:outputPanel styleClass="row">
					<div class="col-md-12">
						<p:commandButton styleClass="col-md-1 btn btn-success" value="English" actionListener="#{logic.switchLanguageEnglish()}" update="languageLabel"/>
						<p:commandButton styleClass="col-md-1 btn btn-success" value="Germany" actionListener="#{logic.switchLanguageGermany()}" update="languageLabel"/>
					</div>
				</p:outputPanel>
			</h:form>
			
		</ui:define>
	</ui:composition>
</h:body>
</html>