<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:f="http://xmlns.jcp.org/jsf/core"
  xmlns:h="http://xmlns.jcp.org/jsf/html"
  xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  xmlns:ic="http://ivyteam.ch/jsf/component"
  xmlns:p="http://primefaces.org/ui">

<h:head>
  <title><ui:insert name="title">Ivy Html Dialog</ui:insert></title>
  <link rel="shortcut icon"
    href="#{resource['ivy-webcontent:layouts/images/ivy_favicon_48.png']}" />

  <!-- You can also load bootstrap from an external CDN: https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css -->
  <h:outputStylesheet name="layouts/styles/bootstrap-modified-for-jsf.css" />
  <h:outputStylesheet name="layouts/styles/bootstrap-reset.css" />
<!--   <h:outputStylesheet name="layouts/styles/ivy-common-6.css" /> -->


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.js"></script>
  <![endif]-->
</h:head>
<h:body style="padding-top: 60px;">
  <ui:insert name="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/ivy/pro/designer/ivy-dev-tool/16EC600CE4FFE654/start.ivp">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
<!--           <ul class="nav navbar-nav"> -->
<!--             <li class="active"><a href="#">Home</a></li> -->
<!--             <li><a href="#about">About</a></li> -->
<!--             <li><a href="#contact">Contact</a></li> -->
<!--             <li class="dropdown"> -->
<!--               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a> -->
<!--               <ul class="dropdown-menu"> -->
<!--                 <li><a href="#">Action</a></li> -->
<!--                 <li><a href="#">Another action</a></li> -->
<!--                 <li><a href="#">Something else here</a></li> -->
<!--                 <li role="separator" class="divider"></li> -->
<!--                 <li class="dropdown-header">Nav header</li> -->
<!--                 <li><a href="#">Separated link</a></li> -->
<!--                 <li><a href="#">One more separated link</a></li> -->
<!--               </ul> -->
<!--             </li> -->
<!--           </ul> -->
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </ui:insert>

  <div id="content" class="container">
    <ui:insert name="content">
        default content
      </ui:insert>

    <ui:insert name="footer">
      <hr />
      <footer>
        <ui:include src="/layouts/includes/footer.xhtml" />
      </footer>
    </ui:insert>
  </div>
  
  <ui:insert name="exception">
    <ui:include src="/layouts/includes/exception.xhtml" />
  </ui:insert>
</h:body>
</html>